.quiz-details {
  width: 60vw;
  margin: auto;
}

.header {
  display: flex;
  gap: 20vw;
}

.quiz-title {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.back-button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.question-container {
  margin-bottom: 8vh;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
}

.options-list {
  list-style-type: none;
  padding: 0;
}

.option {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.option:hover {
  background-color: #d9d9d9;
}

/* Correct Answer */
.option.correct {
  background-color: #28a745;
  color: white;
  box-shadow: 0 0 12px #28a745;
  border: 1px solid #28a745;
}

/* Wrong Answer */
.option.wrong {
  background-color: #dc3545;
  color: white;
  box-shadow: 0 0 12px #dc3545;
  border: 1px solid #dc3545;
}

.submit-btn {
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}
